################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dart_tool
/.idea
/android/.kotlin/errors
/build
/.DS_Store
.vs/